/* Intro Section */

.intro {
    height: 100vh;
    width: 100vw;
    margin: 0;
    //padding: 0 auto;
    background-color: $light-green;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top left;
    display: flex;
    justify-content: center;
    align-items: center;
    /* TODO: add background */

    @include tablet-portrait-up {
        background-image: url('../img/Startbild_1920x1080.jpg');
    }

    @include lg-desktop-up {
        padding: 0 9.2rem;
    }
}

.intro-inner {
    color: $white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .intro-title {
        font-size: 2.8rem; // 70px @1920px
        letter-spacing: .22em;
    }

    .intro-subtitle {
        font-weight: $heading-font-weight;
        letter-spacing: .16em;
        font-style: italic;
    }
}