/* Import Google Font */

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

/* Variables */

$white: #FFF;
$white90: rgba(255, 255, 255, .9);
$dark-green: #2A5848;
$medium-green: #448B75;
$light-green: #50A489;
$font-color: $dark-green;

$body-font: 'Roboto', sans-serif;
$font-thin: 300;
$font-normal: 400;
$font-bold: 500;
$heading-font-weight: 500;
$body-letter-spacing: .02em;
$heading-letter-spacing: .22em;

$base-font-size: 16px;
$lg-font-size: 20px;

$body-font-size-sm: $base-font-size; // 16px
$body-font-size-lg: $lg-font-size; // 20px
$body-line-height-sm: 1.3em;
$body-line-height-lg: 1.6em;

$heading-font-size-sm: 1.6rem; // 20px
$heading-font-size-lg: 2rem; // 40px
$heading-line-height-sm: 1.25em; // 25px
$heading-line-height-lg: 1.125em; // 45px

$border: 2px solid $dark-green;

/* Media Queries Sizes */

$lg-phone: 576px;
$tablet: 768px;
$desktop: 992px;
$lg-desktop: 1200px;
$xl-desktop: 1800px;

/* Fluid Typography Mixin*/
/* https://codepen.io/dbox/pen/meaMba */

@mixin fluid-type($text-attr, $min-size, $max-size, $lower-range: $lg-phone, $upper-range: $lg-desktop) {
    #{$text-attr}: calc(
        #{$min-size} + #{(($max-size / ($max-size * 0 + 1)) - ($min-size / ($min-size * 0 + 1)))} * ((100vw - #{$lower-range}) / #{ (($upper-range / ($upper-range * 0 + 1)) - ($lower-range / ($lower-range * 0 + 1) )) })
    );

    @media (max-width: $lower-range) {
        #{$text-attr}: $min-size;
    }
    @media (min-width: $upper-range) {
        #{$text-attr}: $max-size;
    }
}

/* Media Queries Mixins */

@mixin lg-phone-up {
    @media (min-width: $lg-phone) { @content; }
}
@mixin tablet-up {
    @media (min-width: $tablet) { @content; }
}
@mixin desktop-up {
    @media (min-width: $desktop) { @content; }
}
@mixin lg-desktop-up {
    @media (min-width: $lg-desktop) { @content; }
}
@mixin xl-desktop-up {
    @media (min-width: $xl-desktop) { @content; }
}