nav#dot-nav {
    display: none;

    @include xl-desktop-up {
        display: block;
        position: fixed;
        right: 68px;
        top: 20px;
        z-index: 9998;
    }
}

nav#dot-nav a {
    border: 1px solid $light-green;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    display: block;
    margin: 10px;
}

nav#dot-nav a.active {
    background: $light-green;
}