/* Global Styles */

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    @include fluid-type(font-size, $body-font-size-sm, $body-font-size-lg);
}

body {
    font-family: $body-font;
    font-weight: $font-thin;
    color: $font-color;
    letter-spacing: $body-letter-spacing;
    @include fluid-type(line-height, $body-line-height-sm, $body-line-height-lg);

    @include lg-phone-up {
        font-weight: $font-normal;
    }
}

h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
    font-weight: $font-normal;
    letter-spacing: $heading-letter-spacing;

    @include lg-phone-up {
        font-weight: $font-bold;
    }

    @include fluid-type(line-height, $heading-line-height-sm, $heading-line-height-lg);
    
    @include fluid-type(margin-bottom, 1rem, 2rem); 
}

h2 {
    @include fluid-type(font-size, $heading-font-size-sm, $heading-font-size-lg);
}

p {
    font-size: 14px;
    
    @include lg-phone-up {
        @include fluid-type(font-size, $body-font-size-sm, $body-font-size-lg);
    }
}

a {
    color: $font-color;
    text-decoration: none;
    font-style: italic;
    letter-spacing: .16em;
}

img {
    width: 100%;
    height: auto;
}

.intro,
.service,
.produkte,
.referenzen,
.about,
.kontakt,
.main-footer {

    width: calc((1 - (50/320)) * 100%); // 270px
    margin: 0 auto;
    @include fluid-type(margin-bottom, 60px, 300px);

    @include lg-phone-up {
        width: 85%;
    }

    @include tablet-up {
        width: 70%;
    }

    @include desktop-up {
        width: 85%;
    }

    @include lg-desktop-up {
        max-width: calc((1460/1920) * 100%); // 1460px
    }
}

.main-footer {
    @include fluid-type(margin-bottom, 50px, 100px);
}