.navbar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 10;
}

.main-header {
    background-color: $white;
    color: $light-green;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr) 3rem;
}

.header-title {
    grid-column: 1 / 4;
    @include fluid-type(font-size, 1rem, $heading-font-size-lg);

    color: $light-green;
    text-transform: uppercase;
    font-weight: $font-normal;
    font-style: normal;
    letter-spacing: $heading-letter-spacing;

    @include lg-phone-up {
        font-weight: $font-bold;
    }

    @include fluid-type(line-height, $heading-line-height-sm, $heading-line-height-lg);

    line-height: inherit;
    margin-bottom: 0;
    padding-top: .5rem;
    padding-bottom: .5rem;

    @include lg-phone-up {
        @include fluid-type(padding-top, 1rem, 2.7rem, $lg-phone, $xl-desktop);
        @include fluid-type(padding-bottom, 1rem, 2.7rem, $lg-phone, $xl-desktop);
    }
    
    @include fluid-type(padding-left, 1rem, 100px, $lg-phone, $xl-desktop);
}

.menu-btn {
    grid-column: 6 / 7;
    cursor: pointer;
    position: relative;
    @include fluid-type(right, 1rem, 100px, $lg-phone, $xl-desktop);
    @include fluid-type(width, 2.75rem, 4.25rem, $lg-phone, $xl-desktop);
    height: 100%;
}

.menu-btn a {
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);

    @include fluid-type(width, 2.75rem, 4.25rem, $lg-phone, $xl-desktop);
    @include fluid-type(height, 2rem, 3.087rem, $lg-phone, $xl-desktop);
    background-image: url("../icons/Menue.svg");
    background-repeat: no-repeat;
    background-position: center center;
  }

  .cd-item-navigation a.visible {
    display: block;
    -webkit-animation: cd-fade-in 0.4s;
    -moz-animation: cd-fade-in 0.4s;
    animation: cd-fade-in 0.4s;
  }


/* Navigation */

.navigation {
    // display: none;
    border: 1px solid $light-green;
    background-color: $white;
    padding: 0 50px 75px;
    position: absolute;
    top: 0;
    right: 0;
    width: 90vw;
    @include lg-phone-up {
        width: 22.5rem;
    }
    
}

.navlink {
    color: $light-green;
    text-transform: uppercase;
    font-weight: $font-normal;
    font-style: normal;
    letter-spacing: $heading-letter-spacing;
    @include fluid-type(font-size, 1rem, $heading-font-size-lg);
    @include fluid-type(line-height, 4.333333rem, 6rem);
}