/* Intro Section */

.intro {
    @include fluid-type(margin-top, 60px, 300px);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "intro-text"
        "intro-icon";

    @include desktop-up {
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 2.5rem;
        grid-template-areas:
            "intro-icon intro-text";
    }
}

.intro-text {
    grid-area: intro-text;
}

.intro-icon {
    grid-area: intro-icon;
    line-height: 1;
    text-align: center;
    padding-top: 1rem;
    @include desktop-up {
        padding: 0;
        transform: translateY(-10%);
    }

    img {
        width: calc((260 / 270) * 100%);

        @include desktop-up {
            // width: 100%;
            height: auto;
        }
    }
}