/* Intro Section */

.intro {
    margin: 0 25px 75px;
    display: grid;
    grid-column-gap: 50px;
    grid-template-columns: 1fr;
    grid-template-areas:
        "intro-text"
        "intro-icon";

    @include lg-desktop-up {
        margin: 0 230px 300px;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "intro-icon intro-text";
    }
}

.intro-text {
    margin-top: 75px;
    grid-area: intro-text;

    h2 {
        margin-bottom: 25px;

        @include lg-desktop-up {
            margin-bottom: 50px;
        }
    }
}

.intro-icon {
    grid-area: intro-icon;
    line-height: 1;
    text-align: center;
    padding-top: 50px;

    img {
        width: 100%;
        // width: 220px;
        // height: 185.75px;

        @include lg-desktop-up {
            width: 100%;
            height: auto;
        }
    }
}