/* Intro Section */

.intro {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "intro-text"
        "intro-icon";

    @include lg-desktop-up {
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 2rem;
        grid-template-areas:
            "intro-icon intro-text";
    }
}

.intro-text {
    @include fluid-type(margin-top, 60px, 300px);
    grid-area: intro-text;
}

.intro-icon {
    grid-area: intro-icon;
    line-height: 1;
    text-align: center;
    padding-top: 1rem;

    img {
        width: calc((260 / 270) * 100%);

        @include lg-desktop-up {
            width: 100%;
            height: auto;
        }
    }
}