/* Landing Section */

.landing {
    background-color: $light-green;
    background-image: url('../img/Startbild_1920x1080.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: $white;
    height: 100vh;
    width: 100vw;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing-title {
    font-size: 27px;
    line-height: calc((35/27) * 1em);

    @include lg-desktop-up {
        font-size: 70px;
    }
}

.landing-subtitle {
    font-style: italic;
    letter-spacing: .16em;
    font-size: 5px;

    @include lg-desktop-up {
        font-size: 25px;
    }
}

.icon-btn {
    background-color: transparent;
    // border: 1px solid white;
    border: 0;
    height: 25px;
    width: 27px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -25px);

    @include lg-desktop-up {
        height: 50px;
        width: 54px;
        transform: translate(-50%, -50px);
    }

    .icon-down {}
}