/* Landing Section */

.landing {
    background-color: $light-green;
    background-image: url('../img/Startbild_1920x1080.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: $white;
    height: 100vh;
    width: 100vw;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing-text {
    transform: translateY(-16%);
}

.landing-title {
    font-size: 2.05rem; // 1.6875rem;
    font-weight: $font-normal;
    line-height: calc((35/27) * 0.95em);

    @include desktop-up {
        font-size: 3.5rem;
        font-weight: $font-bold;
    }
}

.landing-subtitle {
    font-style: italic;
    letter-spacing: .16em;
    font-size: 0.75rem; // 5px? -> 12px

    @include desktop-up {
        font-size: 1.25rem; // 25px
    }
}

.icon-btn {
    background-color: transparent;
    border: 0;
    width: 1.7rem;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -1rem);
    padding: 0;

    @include desktop-up {
        width: 2.5rem;
        transform: translate(-50%, -2rem);
    }
}