/* Produkte Section */

.produkte {
    margin: 0 25px 75px;
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 50px;

    @include lg-desktop-up {
        margin: 0 230px 300px;
        grid-gap: 0;
        grid-template-columns: repeat(3, auto) 25px 25px auto;
        grid-template-rows: repeat(8, auto);
    }
}

.produkte-title {
    margin-bottom: -25px;
    
    @include lg-desktop-up {
        margin-bottom: 50px;
        grid-column: 6 / span 1;
        grid-row: 1 / span 2;
    }
}
.produkte-text {

    @include lg-desktop-up {
        margin-bottom: 150px;
        grid-column: 6 / span 1;
    }
}

.produkte-slider {
    margin: 0 auto;
}

.produkte-slider:nth-of-type(1),
.produkte-slider:nth-of-type(2) {

    @include lg-desktop-up {
        margin-bottom: 0;
    }    
}

.slider-1 {
    @include lg-desktop-up {
        grid-column: 1 / span 2;
        grid-row: 2 / span 4;
    }
}

.slider-2 {
    @include lg-desktop-up {
        grid-column: 5 / span 2;
        grid-row: 4 / span 3;
    }

    .slider-container {
        @include lg-desktop-up {
            margin-bottom: 150px;
        }
    }
}

.slider-3 {
    @include lg-desktop-up {
        // margin-top: 150px;
        grid-column: 2 / span 2;
        grid-row: 6 / span 3;
    }
}




/* Helpers */
.slider-container {
    background-color: lightseagreen;
    border: $border;
}


/* Position Slide Stacks */

.produkte-slider:nth-of-type(odd) .stack {
    height: 369px;
    width: 270px;

    @include lg-desktop-up {
        height: 512px;
        width: 374px;
    }
}
.produkte-slider:nth-of-type(even) .stack {
    height: 197.5px;
    width: 270px;

    @include lg-desktop-up {
        height: 374px;
        width: 512px;
    }
}

/* For Positioning Control Buttons */
.produkte-slider,
.referenzen-slider {
    position: relative;
}