/* Produkte Section */
%clearfix {
    *zoom: 1;
  &::before,
  &::after {
    content: " ";
    display: table;
  }

  &::after {
    clear: both;
  }
}


.produkte {
    margin: 0 25px 75px;
    @extend %clearfix;

    @include lg-desktop-up {
        margin: 0 230px 300px;
    }
}

.produkte-info {
    @include lg-desktop-up {
        width: 48.28767%;
        float: right;
    }
}
.produkte-title {
    margin-bottom: 25px;
    
    @include lg-desktop-up {
        margin-bottom: 50px;
    }
}

.produkte-text {
    margin-bottom: 50px;

    @include lg-desktop-up {
        margin-bottom: 150px;
    }
}

.slider-1 {
    margin-bottom: 50px;

    @include lg-desktop-up {
        height: 604px;
        padding-top: 45px;
        margin-bottom: 150px;
        width: 48.28767%;
        float: left;
    }
}
.slider-2 {
    margin-bottom: 50px;

    @include lg-desktop-up {
        height: 419px;
        margin-bottom: 0;
        width: 48.28767%;
        float: right;
    }
}
.slider-3 {

    @include lg-desktop-up {
        height: 559px;
        width: 48.28767%;
        float: left;
    }
}

/* Helpers */

.produkte > * {
    // border: 2px solid deeppink;
}
.produkte-slider {
    
}

.slider-container {
    background-color: lightseagreen;
    border: $border;
}


/* Position Slide Stacks */

.produkte-slider:nth-of-type(odd) .stack {
    height: 373px;
    width: 274px;

    @include lg-desktop-up {
        height: 516px;
        width: 378px;
    }
}
.produkte-slider:nth-of-type(even) .stack {
    height: 201.5px;
    width: 274px;

    @include lg-desktop-up {
        height: 378px;
        width: 516px;
    }
}

/* For Positioning Control Buttons */
.produkte-slider,
.referenzen-slider {
    position: relative;
}