.referenzen {}

.referenzen-slider {}

.slider-refs {
    max-width: 52.52rem;
    max-height: 28.12rem;
    border: $border;

    h2 {
        text-align: center;
        line-height: 28.12rem;
    }
}