/* Slider */
.slider-container {
    position: relative;
    padding: 0;

    & > * { margin: 0 2rem; }

    img { 
        width: 100%; 
        transition: 1s;
        cursor: pointer;
    }
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    
    img {
        width: 4rem;
    }
}
.prev {
    left: 0;
    transform: translate(-100%, -50%);
}

.next {
    right: 0;
    transform: translate(100%, -50%);
}

.slider-1,
.slider-2,
.slider-3,
.slider-refs {
    display: none;
}

