/* Slider Stack */
html { overflow-x: hidden; }

/* -------------------------------- 
Main components 
-------------------------------- */
.stack-container {
    position: relative;
}
.stack-container img {
    width: 100%;
    display: block;
    border: $border;
}

.slider-1 .stack-container,
.slider-3 .stack-container {
    @include tablet-up {
        margin-left: calc(1.45rem + 2rem);
        margin-right: calc(1.45rem + 2rem);
    }
    @include desktop-up {
        width: calc((374 / 705) * 100%);//53%;
        max-width: 18.7rem;
        margin-left: calc(1.45rem + 2rem);
    }
    @include lg-desktop-up {
        margin-left: calc(1.85rem + 2rem + 2.55rem);
    }
}

.stack--2 .stack-container {
    @include tablet-up {
        margin-left: calc(1.45rem + 2rem);
        margin-right: calc(1.45rem + 2rem);
    }
    @include desktop-up {
        margin-right: calc(1.45rem + 2rem);
        margin-left: auto;
        width: calc((512 / 705) * 100%);//73%;
        max-width: 25.6rem;
    }
    @include lg-desktop-up {
        margin-right: calc(1.85rem + 2rem); // icon width + 50px
    }
}

.cd-item-wrapper {
    -webkit-perspective: 500px;
    -moz-perspective: 500px;
    perspective: 500px;
    -webkit-perspective-origin: -100% 180%;
    -moz-perspective-origin: -100% 180%;
    perspective-origin: -100% 180%;
}
.stack__slide {
    position: absolute;
    top: 0;
    left: 0;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;

    &.cd-item-front {
        position: relative;
        z-index: 3;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    }
}

.stack__slide.cd-item-middle {
    z-index: 2;
}
.active .stack__slide.cd-item-middle {

    @include lg-phone-up {
        /* 3D effect on touch devices */
        -webkit-transform: translate3d(0, 0, -1rem);
        -moz-transform: translate3d(0, 0, -1rem);
        -ms-transform: translate3d(0, 0, -1rem);
        -o-transform: translate3d(0, 0, -1rem);
        transform: translate3d(0, 0, -1rem);
    }

// opacity: .8;
opacity: 1;
box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}
  .stack__slide.cd-item-back {
    z-index: 1;
  }
  .active .stack__slide.cd-item-back {
    @include lg-phone-up {
        /* 3D effect on touch devices */
        -webkit-transform: translate3d(0, 0, -2rem);
        -moz-transform: translate3d(0, 0, -2rem);
        -ms-transform: translate3d(0, 0, -2rem);
        -o-transform: translate3d(0, 0, -2rem);
        transform: translate3d(0, 0, -2rem);
    }
    // opacity: .4;
    opacity: 1;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  }
.stack__slide.cd-item-out {
    /* picture not visible - use this class in case you have more than 3 pictures per item */
    z-index: 0;
    // opacity: .2;
    opacity: 1;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    @include lg-phone-up {
        -webkit-transform: translate3d(0, 0, -3rem);
        -moz-transform: translate3d(0, 0, -3rem);
        -ms-transform: translate3d(0, 0, -3rem);
        -o-transform: translate3d(0, 0, -3rem);
        transform: translate3d(0, 0, -3rem);
    }
}
.stack__slide.move-right {
    -webkit-transform: translate3d(200px, 0, 0);
    -moz-transform: translate3d(200px, 0, 0);
    -ms-transform: translate3d(200px, 0, 0);
    -o-transform: translate3d(200px, 0, 0);
    transform: translate3d(200px, 0, 0);
    opacity: 0;
    z-index: 4 !important;
}
.stack__slide.hidden {
    /* used to hide the picture once it's pushed out - to the right */
    display: none !important;
}
.no-csstransitions .stack__slide.cd-item-middle, .no-csstransitions .stack__slide.cd-item-back {
    /* 3D effect not visible on browsers that don't support transitions */
    display: none;
}
  
.cd-item-navigation a {
    position: absolute;
    bottom: 0;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 18px;
    height: 33px;
    // background-color: rgba(216, 216, 216, 0.4);
    background-image: url("../icons/Pfeil_rechts.svg");
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 4;
    display: block;
    // display: none;

    @include lg-phone-up {
        top: 50%;
        width: 36px;
        height: 66px;
    }
}
.no-touch .cd-item-navigation a:hover {
    // background-color: rgba(216, 216, 216, 0.6);
}
.cd-item-navigation a.visible {
    display: block;
    -webkit-animation: cd-fade-in 0.4s;
    -moz-animation: cd-fade-in 0.4s;
    animation: cd-fade-in 0.4s;
}
.cd-item-navigation li:nth-child(1) a {
    left: 14px;
    -webkit-transform: translateY(-50%) rotate(180deg);
    -moz-transform: translateY(-50%) rotate(180deg);
    -ms-transform: translateY(-50%) rotate(180deg);
    -o-transform: translateY(-50%) rotate(180deg);
    transform: translateY(-50%) rotate(180deg);

    @include desktop-up {
        left: -3rem;
    }
    @include lg-desktop-up {
        left: -4rem;
    }
    @include xl-desktop-up {
        left: -5.3rem;
    }
}
.slider-2 .cd-item-navigation li:nth-child(1) a {
    @include desktop-up {
        left: -4.8rem;
    }
    @include lg-desktop-up {
        left: -6.3rem;
    }
    @include xl-desktop-up {
        left: -8.3rem;
    }
}

.cd-item-navigation li:nth-child(2) a {
    right: 14px;

    @include desktop-up {
        right: -2.5rem;
    }
    @include lg-desktop-up {
        right: -3.5rem;
    }
    @include xl-desktop-up {
        right: -4.5rem;
    }
}
.no-csstransitions .cd-item-navigation {
    display: none;
}
  
@-webkit-keyframes cd-fade-in {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
}
@-moz-keyframes cd-fade-in {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
}
@keyframes cd-fade-in {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
}

  