/* Slider */
.slider-container {
    position: relative;
    padding: 0;

    & > * { margin: 0 2rem; }

    img { width: 100%; }
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    
    img {
        width: 4rem;
    }
}
.prev {
    left: 0;
    transform: translate(-100%, -50%);
}

.next {
    right: 0;
    transform: translate(100%, -50%);
}

.slider-1,
.slider-2,
.slider-3,
.slider-refs {
    display: none;
}

/* Lightbox */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: $white90;
}

.modal-content {
    position: relative;
    margin: 0 auto;
    width: 90%;
    max-width: 58.4rem;
}