/* Slider */
.slider-container {
    position: relative;
    padding: 0;
    height: auto;

    &.vertical {
        width: 15.04rem;
        left: 4.52rem;
    }
    &.horizontal {
        width: 20.56rem;
    }
}

.vertical {
    img { 
        width: 15.04rem; 
        transition: 1s;
        cursor: pointer;
    }
}

.horizontal {
    img { 
        width: 20.56rem; 
        transition: 1s;
        cursor: pointer;
    }
}

.prev,
.next {
    // background-color: deeppink;
    cursor: pointer;
    position: absolute;
    top: 50%;
    display: block;
    width: 4.52rem;
    height: 4.52rem;
    
    img {
        width: 100%;
        height: auto;
    }
}
.prev {
    left: 0;
    transform: translate(-100%, -50%);
}

.next {
    right: 0;
    transform: translate(100%, -50%);
}

.slider-1,
.slider-2,
.slider-3,
.slider-refs {
    display: none;
}
