// cd-item-wrapper
.stack {
    perspective: 500px;
    perspective-origin: -100% 180%;
    position: relative;
    // margin-bottom: 3.125rem;

    @include desktop-up {
        margin-bottom: 0;
    }

    li.stack__slide {
        position: absolute;
        top: 0;
        left: 0;
        transform: translate3d(0, 0, 0);
        backface-visibility: hidden;

        &:nth-of-type(1) {
            position: relative;
            z-index: 4;
        }
        &:nth-of-type(2) {
            z-index: 3;
            @include lg-desktop-up {
                transform: translate3d(0, 0, -1rem);
            }
        }
        &:nth-of-type(3) {
            z-index: 2;
            @include lg-desktop-up {
                transform: translate3d(0, 0, -2rem);
            }
        }
        &:nth-of-type(4) {
            z-index: 1;
            @include lg-desktop-up {
                transform: translate3d(0, 0, -3rem);
            }
        }
    }
}
.stack--1,
.stack--3,
.slider-1 .stack__ctrl,
.slider-3 .stack__ctrl {
    @include desktop-up {
        width: calc((374 / 705) * 100%);//53%;
        max-width: 18.7rem;
    }
}

/* Kalkulationen für Abstände vom Stack zum Rand
*
* Transformed X = Original X * ( Perspective / ( Perspective - Z translation ) ) 
* X_portrait = 374px * (500px / (500px - [3rem * 20px/rem]) = 425px
* X_landscape = 512px * (500px / (500px - [3rem * 20px/rem]) = 581.81px
*/

/*
* Abstand zum Rand = Breite_icon + 2rem(Abstand Bildrand-Icon) + Transformed X
*/

.stack--1,
.slider-1 .stack__ctrl {
    @include tablet-up {
        margin-left: calc(1.45rem + 2rem);
        margin-right: calc(1.45rem + 2rem);
    }
    @include desktop-up {
        margin-left: calc(1.45rem + 2rem);
    }
    @include lg-desktop-up {
        margin-left: calc(1.85rem + 2rem + 2.55rem);
    }
}

.stack--2,
.slider-2 .stack__ctrl {
    @include tablet-up {
        margin-left: calc(1.45rem + 2rem);
        margin-right: calc(1.45rem + 2rem);
    }
    @include desktop-up {
        margin-right: calc(1.45rem + 2rem);
        margin-left: auto;
        width: calc((512 / 705) * 100%);//73%;
        max-width: 25.6rem;
    }
    @include lg-desktop-up {
        margin-right: calc(1.85rem + 2rem); // icon width + 50px
    }
}

.stack--3,
.slider-3 .stack__ctrl {
    @include tablet-up {
        margin-left: calc(1.45rem + 2rem);
        margin-right: calc(1.45rem + 2rem);
    }
    @include desktop-up {
        margin-right: calc(1.45rem + 2rem);
        margin-left: auto;
    }
    @include lg-desktop-up {
        margin-right: calc(1.85rem + 2rem); // icon width + 50px
    }
}

// cd-item-front, cd-item-middle, cd-item-back, cd-item-out
.stack__slide {
    line-height: 0;
    img {
        border: $border;
    }
}

// cd-item-navigation Helper
.produkte-slider {
    position: relative; 
}

// cd-item-navigation
.stack__ctrl {
    // border: 2px solid deeppink;
}

// cd-img-replace
.slide-ctrl-btn {
    background-color: lightcoral;
    display: block;
    position: absolute;
    // bottom: 4.25rem;
    bottom: 0;
    width: 0.8125rem;
    // height: 1.3125rem;
    height: 100%;

    @include tablet-up {
        width: 1.45rem;
        // height: 2.45rem;
    }

    @include desktop-up {
        top: 0;
    }
    @include lg-desktop-up {
        width: 1.85rem;
        // height: 3.15rem;
    }

    background-repeat: no-repeat;
    background-position: center center;
    z-index: 6;
    overflow: hidden;
    // text-indent: 100%;
    // white-space: nowrap;
    cursor: pointer;
}

.slider-1 .slide-ctrl-btn {
    @include desktop-up {
        // top: 10.125rem;
    }
    @include lg-desktop-up {
        // top: 11.125rem;
    }
}

.slider-2 .slide-ctrl-btn {
    // bottom: 4.125rem;

    @include desktop-up {
        // top: 6.125rem;
    }
    @include lg-desktop-up {
        // top: 7.125rem;
    }
}

.slider-3 .slide-ctrl-btn {
    @include desktop-up {
        // top: 9.125rem;
    }
    @include lg-desktop-up {
        // top: 9.125rem;
    }
}

.btn-left {
    // left: 1.1625rem;
    left: 0;
    background-image: url('../../assets/icons/Pfeil_links.svg');

    @include desktop-up {
        // top: 0;
        // transform: translate(-85%, -50%);
    }
    @include lg-desktop-up {
        // transform: translate(-65%, -50%);
    }
}
.btn-right {
    // right: 1.1625rem;
    right: 0;
    // background-color: deeppink;
    background-image: url('../../assets/icons/Pfeil_rechts.svg');

    @include desktop-up {
        // top: 0;
        // transform: translate(85%, -50%);
    }
    @include lg-desktop-up {
        // transform: translate(65%, -50%);
    }
}


 