/* Base */

@import 'base';
@import 'global';

/* Components */

@import 'landing';
@import 'intro';
@import 'service';
@import 'produkte'; // vorläufig
// @import 'referenzen';
@import 'about';
@import 'kontakt';
@import 'footer';

/* Additional Components */

@import 'sliderstack';  // vorläufig
// @import 'lightbox';