/* Base */
/* Import Google Font */
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500");
/* Variables */
/* Media Queries Sizes */
/* Fluid Typography Mixin*/
/* https://codepen.io/dbox/pen/meaMba */
/* Media Queries Mixins */
/* Global Styles */
html {
  font-size: calc( 16px + 9 * ((100vw - 600px) / 1200) ); }
  @media (max-width: 600px) {
    html {
      font-size: 16px; } }
  @media (min-width: 1800px) {
    html {
      font-size: 25px; } }

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 0.02em;
  color: #2A5848; }

a {
  color: #2A5848;
  text-decoration: none;
  font-style: italic;
  letter-spacing: .16em; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  line-height: 45px;
  letter-spacing: 0.22em;
  text-transform: uppercase;
  margin-bottom: 2rem; }

img {
  width: 100%; }

/* Section Titles h2 */
main > section {
  width: 76%;
  max-width: 58.4rem;
  margin: 0 auto;
  margin-bottom: 6rem; }
  @media (min-width: 1800px) {
    main > section {
      margin-bottom: 12rem; } }

main > section:first-of-type {
  margin-top: 6rem; }
  @media (min-width: 1800px) {
    main > section:first-of-type {
      margin-bottom: 12rem; } }

/* Grid Containers */
.container {
  display: grid;
  grid-column-gap: 2rem; }

/* Grid items */
/* Components */
/* Intro Section */
.landing {
  height: 100vh;
  width: 100vw;
  margin: 0;
  background-color: #50A489;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center; }
  @media (min-width: 600px) {
    .landing {
      background-image: url("../img/Startbild_1920x1080.jpg"); } }
  @media (min-width: 1800px) {
    .landing {
      padding: 0 9.2rem; } }

.landing-inner {
  color: #FFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .landing-inner .landing-title {
    font-size: 2.8rem;
    letter-spacing: .22em; }
  .landing-inner .landing-subtitle {
    font-weight: 500;
    letter-spacing: .16em;
    font-style: italic; }

.intro {
  grid-template-columns: 1fr;
  grid-template-areas: "intro-text" "intro-icon"; }
  @media (min-width: 600px) {
    .intro {
      grid-template-columns: 1fr 1fr;
      grid-template-areas: "intro-icon intro-text"; } }

.intro-text {
  grid-area: intro-text; }

.intro-icon {
  grid-area: intro-icon;
  display: block;
  width: 100%; }

.service {
  grid-template-columns: 1fr;
  grid-template-rows: auto repeat(3, 1fr);
  grid-template-areas: "service-title" "box-1" "box-2" "box-3"; }
  @media (min-width: 900px) {
    .service {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: auto 1fr;
      grid-template-areas: "service-title service-title service-title" "box-1 box-2 box-3"; } }

.service-title {
  grid-area: service-title;
  text-align: center;
  margin-bottom: 6rem; }

.box-1 {
  grid-area: box-1; }

.box-2 {
  grid-area: box-2; }

.box-3 {
  grid-area: box-3; }

.service-box {
  display: inline-block; }

.flip-card {
  width: calc(((76vw - 2 * 2rem) / 3) - 2 * 2px);
  max-width: 16.72rem;
  height: calc(((76vw - 2 * 2rem) / 3) - 2 * 2px);
  max-height: 16.72rem;
  perspective: 1000px; }

.flip-card__inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform .8s;
  transform-style: preserve-3d; }

.flip-card:hover .flip-card__inner {
  transform: rotateY(180deg); }

.flip-card__front,
.flip-card__back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border: 2px solid #2A5848;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center; }

.flip-card__front {
  background-color: #FFF; }
  .flip-card__front h3 {
    display: inline-block;
    margin: 0; }

.flip-card__back {
  background-color: #FFF;
  transform: rotateY(180deg); }
  .flip-card__back p {
    padding: 0 2rem; }

.produkte {
  grid-template-columns: 1fr;
  grid-template-areas: "produkte-title" "produkte-text" "produkte-slider-1" "produkte-slider-2" "produkte-slider-3"; }
  @media (min-width: 600px) {
    .produkte {
      grid-template-columns: 1fr 1fr;
      grid-template-areas: ". produkte-title" "produkte-slider-1 produkte-text" "produkte-slider-1 produkte-slider-2" "produkte-slider-3 ."; } }

.produkte-title {
  grid-area: produkte-title;
  margin-bottom: 0; }

.produkte-text {
  grid-area: produkte-text;
  margin-top: 2rem;
  margin-bottom: 6rem; }

.produkte-slider-1 {
  grid-area: produkte-slider-1; }
  .produkte-slider-1 img {
    width: 14.96rem;
    height: auto; }

.produkte-slider-2 {
  grid-area: produkte-slider-2; }
  .produkte-slider-2 img {
    width: 20.48rem;
    height: auto; }

.produkte-slider-3 {
  grid-area: produkte-slider-3;
  margin-top: 6rem; }

.slider-refs {
  max-width: 52.52rem;
  max-height: 28.12rem;
  border: 2px solid #2A5848; }
  .slider-refs h2 {
    text-align: center;
    line-height: 28.12rem; }

.about {
  grid-template-columns: 1fr;
  grid-template-areas: "about-text" "about-img"; }
  @media (min-width: 600px) {
    .about {
      grid-template-columns: 1fr 1fr;
      grid-template-areas: "about-img about-text"; } }

.about-text {
  grid-area: about-text; }
  .about-text a {
    display: inline-block;
    margin-top: 2rem; }

.about-img {
  grid-area: about-img; }
  .about-img img {
    width: 100%; }

.kontakt {
  text-align: center; }

.main-footer {
  text-align: center;
  padding-bottom: 4rem; }
  .main-footer a {
    font-style: normal;
    letter-spacing: 0.02em; }

/* Additional Components */
.slider-container {
  position: relative;
  padding: 0 2rem; }
  .slider-container img {
    width: 100%; }

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%; }
  .prev img,
  .next img {
    width: 4rem; }

.prev {
  left: 0;
  transform: translate(-50%, -50%); }

.next {
  right: 0;
  transform: translate(50%, -50%); }

.slider-1,
.slider-2,
.slider-3,
.slider-refs {
  display: none; }

/*# sourceMappingURL=style.css.map */
