/* Base */
/* Import Google Font */
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500");
/* Variables */
/* Media Queries Sizes */
/* Fluid Typography Mixin*/
/* https://codepen.io/dbox/pen/meaMba */
/* Media Queries Mixins */
/* Global Styles */
*,
*::before,
*::after {
  box-sizing: border-box; }

html {
  font-size: calc( 16px + 4 * ((100vw - 576px) / 624) ); }
  @media (max-width: 576px) {
    html {
      font-size: 16px; } }
  @media (min-width: 1200px) {
    html {
      font-size: 20px; } }

body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #2A5848;
  letter-spacing: 0.02em;
  line-height: calc( 1.3em + 0.1 * ((100vw - 576px) / 624) ); }
  @media (max-width: 576px) {
    body {
      line-height: 1.3em; } }
  @media (min-width: 1200px) {
    body {
      line-height: 1.4em; } }
  @media (min-width: 576px) {
    body {
      font-weight: 400; } }

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.22em;
  line-height: calc( 1.25em + -0.125 * ((100vw - 576px) / 624) );
  margin-bottom: calc( 1rem + 1 * ((100vw - 576px) / 624) ); }
  @media (min-width: 576px) {
    h1, h2, h3, h4, h5, h6 {
      font-weight: 500; } }
  @media (max-width: 576px) {
    h1, h2, h3, h4, h5, h6 {
      line-height: 1.25em; } }
  @media (min-width: 1200px) {
    h1, h2, h3, h4, h5, h6 {
      line-height: 1.125em; } }
  @media (max-width: 576px) {
    h1, h2, h3, h4, h5, h6 {
      margin-bottom: 1rem; } }
  @media (min-width: 1200px) {
    h1, h2, h3, h4, h5, h6 {
      margin-bottom: 2rem; } }

h2 {
  font-size: calc( 1.6rem + 0.4 * ((100vw - 576px) / 624) ); }
  @media (max-width: 576px) {
    h2 {
      font-size: 1.6rem; } }
  @media (min-width: 1200px) {
    h2 {
      font-size: 2rem; } }

p,
a {
  font-size: 14px; }
  @media (min-width: 576px) {
    p,
    a {
      font-size: calc( 16px + 4 * ((100vw - 576px) / 624) ); } }
  @media (min-width: 576px) and (max-width: 576px) {
    p,
    a {
      font-size: 16px; } }
  @media (min-width: 576px) and (min-width: 1200px) {
    p,
    a {
      font-size: 20px; } }

a {
  color: #2A5848;
  text-decoration: none;
  font-style: italic;
  letter-spacing: .16em; }

img {
  width: 100%;
  height: auto; }

.intro,
.service,
.produkte,
.referenzen,
.about,
.kontakt,
.main-footer {
  width: calc((1 - (50/320)) * 100%);
  margin: 0 auto;
  margin-bottom: calc( 60px + 240 * ((100vw - 576px) / 624) ); }
  @media (max-width: 576px) {
    .intro,
    .service,
    .produkte,
    .referenzen,
    .about,
    .kontakt,
    .main-footer {
      margin-bottom: 60px; } }
  @media (min-width: 1200px) {
    .intro,
    .service,
    .produkte,
    .referenzen,
    .about,
    .kontakt,
    .main-footer {
      margin-bottom: 300px; } }
  @media (min-width: 576px) {
    .intro,
    .service,
    .produkte,
    .referenzen,
    .about,
    .kontakt,
    .main-footer {
      width: 85%; } }
  @media (min-width: 768px) {
    .intro,
    .service,
    .produkte,
    .referenzen,
    .about,
    .kontakt,
    .main-footer {
      width: 70%; } }
  @media (min-width: 992px) {
    .intro,
    .service,
    .produkte,
    .referenzen,
    .about,
    .kontakt,
    .main-footer {
      width: 85%; } }
  @media (min-width: 1200px) {
    .intro,
    .service,
    .produkte,
    .referenzen,
    .about,
    .kontakt,
    .main-footer {
      max-width: calc((1460/1920) * 100%); } }

.main-footer {
  margin-bottom: calc( 50px + 50 * ((100vw - 576px) / 624) ); }
  @media (max-width: 576px) {
    .main-footer {
      margin-bottom: 50px; } }
  @media (min-width: 1200px) {
    .main-footer {
      margin-bottom: 100px; } }

/* Components */
/* Landing Section */
.landing {
  background-color: #50A489;
  background-image: url("../img/Startbild_1920x1080.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: #FFF;
  height: 100vh;
  width: 100vw;
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center; }

.landing-text {
  transform: translateY(-16%); }

.landing-title {
  font-size: 2.05rem;
  font-weight: 400;
  line-height: calc((35/27) * 0.95em); }
  @media (min-width: 992px) {
    .landing-title {
      font-size: 3.5rem;
      font-weight: 500; } }

.landing-subtitle {
  font-style: italic;
  letter-spacing: .16em;
  font-size: 0.75rem; }
  @media (min-width: 992px) {
    .landing-subtitle {
      font-size: 1.25rem; } }

.icon-btn {
  background-color: transparent;
  border: 0;
  width: 1.7rem;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -1rem);
  padding: 0; }
  @media (min-width: 992px) {
    .icon-btn {
      width: 2.5rem;
      transform: translate(-50%, -2rem); } }

/* Intro Section */
.intro {
  margin-top: calc( 60px + 240 * ((100vw - 576px) / 624) );
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "intro-text" "intro-icon"; }
  @media (max-width: 576px) {
    .intro {
      margin-top: 60px; } }
  @media (min-width: 1200px) {
    .intro {
      margin-top: 300px; } }
  @media (min-width: 992px) {
    .intro {
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 2rem;
      grid-template-areas: "intro-icon intro-text"; } }

.intro-text {
  grid-area: intro-text; }

.intro-icon {
  grid-area: intro-icon;
  line-height: 1;
  text-align: center;
  padding-top: 1rem; }
  .intro-icon img {
    width: calc((260 / 270) * 100%); }
    @media (min-width: 992px) {
      .intro-icon img {
        width: 100%;
        height: auto; } }

/* Kontakt Section */
.kontakt {
  text-align: center; }
  .kontakt a {
    font-weight: 500; }

/* Footer Section */
.main-footer {
  text-align: center; }
  .main-footer a {
    font-style: normal;
    letter-spacing: 0.02em; }

/* Additional Components */

/*# sourceMappingURL=style.css.map */
