/* Base */
/* Import Google Font */
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500");
/* Variables */
/* Media Queries Sizes */
/* Fluid Typography Mixin*/
/* https://codepen.io/dbox/pen/meaMba */
/* Media Queries Mixins */
/* Global Styles */
*,
*::before,
*::after {
  box-sizing: border-box; }

html {
  font-size: calc( 16px + 4 * ((100vw - 576px) / 624) ); }
  @media (max-width: 576px) {
    html {
      font-size: 16px; } }
  @media (min-width: 1200px) {
    html {
      font-size: 20px; } }

body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #2A5848;
  letter-spacing: 0.02em;
  line-height: calc( 1.3em + 0.3 * ((100vw - 576px) / 624) ); }
  @media (max-width: 576px) {
    body {
      line-height: 1.3em; } }
  @media (min-width: 1200px) {
    body {
      line-height: 1.6em; } }
  @media (min-width: 576px) {
    body {
      font-weight: 400; } }

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.22em;
  line-height: calc( 1.25em + -0.125 * ((100vw - 576px) / 624) );
  margin-bottom: calc( 1rem + 1.5 * ((100vw - 576px) / 624) ); }
  @media (min-width: 576px) {
    h1, h2, h3, h4, h5, h6 {
      font-weight: 500; } }
  @media (max-width: 576px) {
    h1, h2, h3, h4, h5, h6 {
      line-height: 1.25em; } }
  @media (min-width: 1200px) {
    h1, h2, h3, h4, h5, h6 {
      line-height: 1.125em; } }
  @media (max-width: 576px) {
    h1, h2, h3, h4, h5, h6 {
      margin-bottom: 1rem; } }
  @media (min-width: 1200px) {
    h1, h2, h3, h4, h5, h6 {
      margin-bottom: 2.5rem; } }

h2 {
  font-size: calc( 1.6rem + 0.4 * ((100vw - 576px) / 624) ); }
  @media (max-width: 576px) {
    h2 {
      font-size: 1.6rem; } }
  @media (min-width: 1200px) {
    h2 {
      font-size: 2rem; } }

p,
a {
  font-size: 14px; }
  @media (min-width: 576px) {
    p,
    a {
      font-size: calc( 16px + 4 * ((100vw - 576px) / 624) ); } }
  @media (min-width: 576px) and (max-width: 576px) {
    p,
    a {
      font-size: 16px; } }
  @media (min-width: 576px) and (min-width: 1200px) {
    p,
    a {
      font-size: 20px; } }

a {
  color: #2A5848;
  text-decoration: none;
  font-style: italic;
  letter-spacing: .16em; }

img {
  width: 100%;
  height: auto; }

.intro,
.service,
.produkte,
.referenzen,
.about,
.kontakt,
.main-footer,
.page {
  width: calc((1 - (50/320)) * 100%);
  margin: 0 auto;
  margin-bottom: calc( 60px + 240 * ((100vw - 576px) / 624) ); }
  @media (max-width: 576px) {
    .intro,
    .service,
    .produkte,
    .referenzen,
    .about,
    .kontakt,
    .main-footer,
    .page {
      margin-bottom: 60px; } }
  @media (min-width: 1200px) {
    .intro,
    .service,
    .produkte,
    .referenzen,
    .about,
    .kontakt,
    .main-footer,
    .page {
      margin-bottom: 300px; } }
  @media (min-width: 576px) {
    .intro,
    .service,
    .produkte,
    .referenzen,
    .about,
    .kontakt,
    .main-footer,
    .page {
      width: 85%; } }
  @media (min-width: 768px) {
    .intro,
    .service,
    .produkte,
    .referenzen,
    .about,
    .kontakt,
    .main-footer,
    .page {
      width: 70%; } }
  @media (min-width: 992px) {
    .intro,
    .service,
    .produkte,
    .referenzen,
    .about,
    .kontakt,
    .main-footer,
    .page {
      width: 85%; } }
  @media (min-width: 1200px) {
    .intro,
    .service,
    .produkte,
    .referenzen,
    .about,
    .kontakt,
    .main-footer,
    .page {
      max-width: calc((1460/1920) * 100%); } }

.main-footer {
  margin-bottom: calc( 50px + 50 * ((100vw - 576px) / 624) ); }
  @media (max-width: 576px) {
    .main-footer {
      margin-bottom: 50px; } }
  @media (min-width: 1200px) {
    .main-footer {
      margin-bottom: 100px; } }

/* Components */
/* Landing Section */
.landing {
  background-color: #50A489;
  background-image: url("../img/Startbild_1920x1080.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: #FFF;
  height: 100vh;
  width: 100vw;
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center; }

.landing-text {
  transform: translateY(-16%); }

.landing-title {
  font-size: 2.05rem;
  font-weight: 400;
  line-height: calc((35/27) * 0.95em); }
  @media (min-width: 992px) {
    .landing-title {
      font-size: 3.5rem;
      font-weight: 500; } }

.landing-subtitle {
  font-style: italic;
  letter-spacing: .16em;
  font-size: 0.75rem; }
  @media (min-width: 992px) {
    .landing-subtitle {
      font-size: 1.25rem; } }

.icon-btn {
  background-color: transparent;
  border: 0;
  width: 1.7rem;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -1rem);
  padding: 0; }
  @media (min-width: 992px) {
    .icon-btn {
      width: 2.5rem;
      transform: translate(-50%, -2rem); } }

/* Intro Section */
.intro {
  margin-top: calc( 60px + 240 * ((100vw - 576px) / 624) );
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "intro-text" "intro-icon"; }
  @media (max-width: 576px) {
    .intro {
      margin-top: 60px; } }
  @media (min-width: 1200px) {
    .intro {
      margin-top: 300px; } }
  @media (min-width: 992px) {
    .intro {
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 2.5rem;
      grid-template-areas: "intro-icon intro-text"; } }

.intro-text {
  grid-area: intro-text; }

.intro-icon {
  grid-area: intro-icon;
  line-height: 1;
  text-align: center;
  padding-top: 1rem; }
  @media (min-width: 992px) {
    .intro-icon {
      padding: 0;
      transform: translateY(-10%); } }
  .intro-icon img {
    width: calc((260 / 270) * 100%); }
    @media (min-width: 992px) {
      .intro-icon img {
        height: auto; } }

/* Service Section */
.service-title {
  text-align: center;
  margin-bottom: calc( 2rem + 5.5 * ((100vw - 576px) / 624) ); }
  @media (max-width: 576px) {
    .service-title {
      margin-bottom: 2rem; } }
  @media (min-width: 1200px) {
    .service-title {
      margin-bottom: 7.5rem; } }

.services {
  display: -ms-grid;
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 3rem;
  grid-template-areas: "box-1" "box-2" "box-3"; }
  @media (min-width: 992px) {
    .services {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-areas: "box-1 box-2 box-3"; } }

.box-1 {
  grid-area: box-1;
  justify-self: center; }
  @media (min-width: 992px) {
    .box-1 {
      justify-self: start; } }
  .box-1 .flip-card {
    color: #2A5848; }
  .box-1 .flip-card__front,
  .box-1 .flip-card__back {
    border: 2px solid #2A5848; }

.box-2 {
  grid-area: box-2;
  justify-self: center; }
  @media (min-width: 992px) {
    .box-2 {
      justify-self: center; } }
  .box-2 .flip-card {
    color: #448B75; }
  .box-2 .flip-card__front,
  .box-2 .flip-card__back {
    border-color: #448B75; }

.box-3 {
  grid-area: box-3;
  justify-self: center; }
  @media (min-width: 992px) {
    .box-3 {
      justify-self: end; } }
  .box-3 .flip-card {
    color: #50A489; }
  .box-3 .flip-card__front,
  .box-3 .flip-card__back {
    border-color: #50A489; }

.flip-card {
  display: block;
  font-style: normal;
  width: calc( 260px + 158 * ((100vw - 992px) / 808) );
  height: calc( 260px + 158 * ((100vw - 992px) / 808) );
  cursor: pointer; }
  @media (max-width: 992px) {
    .flip-card {
      width: 260px; } }
  @media (min-width: 1800px) {
    .flip-card {
      width: 418px; } }
  @media (max-width: 992px) {
    .flip-card {
      height: 260px; } }
  @media (min-width: 1800px) {
    .flip-card {
      height: 418px; } }

.flip-card__inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  -webkit-transition: -webkit-transform .8s;
  transition: -webkit-transform .8s;
  -o-transition: transform .8s;
  transition: transform .8s;
  transition: transform .8s, -webkit-transform .8s;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d; }

.flip-card:hover .flip-card__inner,
.flip-card:focus .flip-card__inner,
.flip-card:active .flip-card__inner {
  outline: none;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg); }

.flip-card__front,
.flip-card__back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 50%;
  border: 2px solid #2A5848;
  display: flex;
  justify-content: center;
  align-items: center; }

.flip-card__front h3 {
  font-size: 15px;
  margin-bottom: 0; }
  @media (min-width: 1800px) {
    .flip-card__front h3 {
      font-size: 30px; } }

.flip-card__back {
  background-color: #FFF;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg); }
  .flip-card__back p {
    padding: 0 2rem;
    font-size: 15px; }
    @media (min-width: 1800px) {
      .flip-card__back p {
        font-size: 30px; } }

.produkte {
  width: calc((1 - (50/320)) * 100%);
  margin: 0 auto;
  margin-bottom: calc((75/16) * 1rem);
  display: grid;
  grid-template-columns: 1fr; }
  @media (min-width: 576px) {
    .produkte {
      width: 85%; } }
  @media (min-width: 768px) {
    .produkte {
      width: 70%; } }
  @media (min-width: 992px) {
    .produkte {
      width: 85%;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 2.5rem; } }
  @media (min-width: 1200px) {
    .produkte {
      max-width: calc((1460/1920) * 100%);
      margin-bottom: calc((300/20) * 1rem); } }

.produkte-title {
  margin-bottom: calc((25/16) * 1rem); }
  @media (min-width: 1200px) {
    .produkte-title {
      margin-bottom: calc((50/20) * 1rem); } }

.produkte-text {
  margin-bottom: calc((50/16) * 1rem); }
  @media (min-width: 992px) {
    .produkte-text {
      margin-bottom: calc((150/20) * 1rem); } }

@media (min-width: 992px) {
  .produkte-info,
  .produkte-slider {
    width: 100%; } }

@media (min-width: 992px) {
  .produkte-info {
    order: 1;
    grid-row: 1 / 6; } }

.slider-1 {
  margin-bottom: 3.125rem; }
  @media (min-width: 992px) {
    .slider-1 {
      margin-top: 1.125em;
      order: 0;
      grid-row: 1 / 12;
      margin-bottom: 7.5rem; } }
  @media (min-width: 1200px) {
    .slider-1 {
      margin-bottom: 7.5rem; } }

.slider-2 {
  margin-bottom: 3.125rem; }
  @media (min-width: 992px) {
    .slider-2 {
      order: 2;
      grid-row: 6 / 15; } }

@media (min-width: 992px) {
  .slider-3 {
    order: 3;
    grid-row: 12 / 19; } }

/* About Section */
/* **************
*   TODO
*   Convert to float for long text
* ***************/
.about {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 3rem;
  grid-template-areas: "about-text" "about-img"; }
  @media (min-width: 992px) {
    .about {
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 2rem;
      grid-template-areas: "about-img about-text"; } }

.about-text {
  grid-area: about-text; }
  @media (min-width: 992px) {
    .about-text {
      display: flex;
      align-items: center; } }

.text-block h2,
.text-block p {
  margin-bottom: calc( 25px + 25 * ((100vw - 576px) / 624) ); }
  @media (max-width: 576px) {
    .text-block h2,
    .text-block p {
      margin-bottom: 25px; } }
  @media (min-width: 1200px) {
    .text-block h2,
    .text-block p {
      margin-bottom: 50px; } }
.text-block a {
  font-weight: 500; }

.about-img {
  grid-area: about-img;
  width: calc((260 / 270) * 100%);
  margin: 0 auto; }

.read-more-toggle {
  font-family: "Roboto", sans-serif;
  font-size: inherit;
  font-weight: 500;
  font-style: italic;
  letter-spacing: .16em;
  color: inherit;
  border: 0;
  background: transparent;
  cursor: pointer; }

.read-more-target {
  display: none; }

/* Kontakt Section */
.kontakt {
  text-align: center; }
  .kontakt a {
    font-weight: 500; }

/* Footer Section */
.main-footer {
  text-align: center; }
  .main-footer a {
    font-style: normal;
    letter-spacing: 0.02em; }

/* Additional Components */
/* Slider Stack */
html {
  overflow-x: hidden; }

/* -------------------------------- 
Modules - reusable parts of our design
-------------------------------- */
.cd-img-replace {
  /* replace text with background images */
  display: inline-block;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap; }

/* -------------------------------- 
Main components 
-------------------------------- */
.stack-container {
  position: relative; }

.stack-container img {
  width: 100%;
  display: block; }

@media (min-width: 768px) {
  .slider-1 .stack-container,
  .slider-3 .stack-container {
    margin-left: calc(1.45rem + 2rem);
    margin-right: calc(1.45rem + 2rem); } }
@media (min-width: 992px) {
  .slider-1 .stack-container,
  .slider-3 .stack-container {
    width: calc((374 / 705) * 100%);
    max-width: 18.7rem;
    margin-left: calc(1.45rem + 2rem); } }
@media (min-width: 1200px) {
  .slider-1 .stack-container,
  .slider-3 .stack-container {
    margin-left: calc(1.85rem + 2rem + 2.55rem); } }

@media (min-width: 768px) {
  .stack--2 .stack-container {
    margin-left: calc(1.45rem + 2rem);
    margin-right: calc(1.45rem + 2rem); } }
@media (min-width: 992px) {
  .stack--2 .stack-container {
    margin-right: calc(1.45rem + 2rem);
    margin-left: auto;
    width: calc((512 / 705) * 100%);
    max-width: 25.6rem; } }
@media (min-width: 1200px) {
  .stack--2 .stack-container {
    margin-right: calc(1.85rem + 2rem); } }

.cd-item-wrapper {
  -webkit-perspective: 500px;
  -moz-perspective: 500px;
  perspective: 500px;
  -webkit-perspective-origin: -100% 180%;
  -moz-perspective-origin: -100% 180%;
  perspective-origin: -100% 180%; }

.stack__slide {
  position: absolute;
  top: 0;
  left: 0;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s; }
  .stack__slide.cd-item-front {
    position: relative;
    z-index: 3;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2); }

.stack__slide.cd-item-middle {
  z-index: 2; }

.active .stack__slide.cd-item-middle {
  /* 3D effect on touch devices */
  -webkit-transform: translate3d(0, 0, -1rem);
  -moz-transform: translate3d(0, 0, -1rem);
  -ms-transform: translate3d(0, 0, -1rem);
  -o-transform: translate3d(0, 0, -1rem);
  transform: translate3d(0, 0, -1rem);
  opacity: 1;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2); }

.stack__slide.cd-item-back {
  z-index: 1; }

.active .stack__slide.cd-item-back {
  /* 3D effect on touch devices */
  -webkit-transform: translate3d(0, 0, -2rem);
  -moz-transform: translate3d(0, 0, -2rem);
  -ms-transform: translate3d(0, 0, -2rem);
  -o-transform: translate3d(0, 0, -2rem);
  transform: translate3d(0, 0, -2rem);
  opacity: 1;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2); }

.stack__slide.cd-item-out {
  /* picture not visible - use this class in case you have more than 3 pictures per item */
  z-index: 0;
  opacity: 1;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  -webkit-transform: translate3d(0, 0, -3rem);
  -moz-transform: translate3d(0, 0, -3rem);
  -ms-transform: translate3d(0, 0, -3rem);
  -o-transform: translate3d(0, 0, -3rem);
  transform: translate3d(0, 0, -3rem); }

.stack__slide.move-right {
  -webkit-transform: translate3d(200px, 0, 0);
  -moz-transform: translate3d(200px, 0, 0);
  -ms-transform: translate3d(200px, 0, 0);
  -o-transform: translate3d(200px, 0, 0);
  transform: translate3d(200px, 0, 0);
  opacity: 0;
  z-index: 4 !important; }

.stack__slide.hidden {
  /* used to hide the picture once it's pushed out - to the right */
  display: none !important; }

.no-csstransitions .stack__slide.cd-item-middle, .no-csstransitions .stack__slide.cd-item-back {
  /* 3D effect not visible on browsers that don't support transitions */
  display: none; }

.cd-item-navigation a {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 36px;
  height: 66px;
  background-color: rgba(216, 216, 216, 0.4);
  background-image: url("../icons/Pfeil_rechts.svg");
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 4;
  display: none; }

.no-touch .cd-item-navigation a:hover {
  background-color: rgba(216, 216, 216, 0.6); }

.cd-item-navigation a.visible {
  display: block;
  -webkit-animation: cd-fade-in 0.4s;
  -moz-animation: cd-fade-in 0.4s;
  animation: cd-fade-in 0.4s; }

.cd-item-navigation li:nth-child(1) a {
  left: 14px;
  -webkit-transform: translateY(-50%) rotate(180deg);
  -moz-transform: translateY(-50%) rotate(180deg);
  -ms-transform: translateY(-50%) rotate(180deg);
  -o-transform: translateY(-50%) rotate(180deg);
  transform: translateY(-50%) rotate(180deg); }

.cd-item-navigation li:nth-child(2) a {
  right: 14px; }

.no-csstransitions .cd-item-navigation {
  display: none; }

@-webkit-keyframes cd-fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-moz-keyframes cd-fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes cd-fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/*# sourceMappingURL=style.css.map */
